/* root {
    --light-orange:#f2dcc7;
    --light-blue:#c7f2eb;
} */

/* box-sizing: border-box; width/height = border + height + width/height of content */
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height:100px;
    padding:20px;
    background-color: #ed9261;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color:white;
    font-weight:400px;
}

header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    color:white;
    font-weight:400px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display:inline-block;
    margin-left:25px;
}

.road-to-success{
    position:relative;
}

.porfolio{
    position:absolute;
    border:5px solid green;
    left:16px;
    top:10px;
    
}

.road-to-success-heading{
    position:absolute;
    bottom: 10px;
    right:16px;
    color: white;
    font-size:30px;
}

/*border: 1px solid red; for visibility purpose, will comment out later */
main{
    display:block;
    /* border: 1px solid red;  */
}

.about-me{
    display:flex;
}

#about-me{
    flex:0 0 25%;
    margin:20px;
    border-right:5px solid red;
    padding:20px;
    font-size:50px;
}

#about-me-paragraph {
    flex: 0 0 75%;
}


.work{
    display:flex;
}

#work{
    flex:0 0 25%;
    margin:20px;
    border-right:5px solid red;
    padding:20px;
    font-size:50px;
}

/*parent=div; children = figure*/
.work-img{
    display:inline-flex;
    flex-wrap:wrap;
}

figure .container{
    position:relative;
    border: 5px solid orange;
}

figure h3 .bottom-left{
    position:absolute;
    bottom:50px;
    left:16px;
    color:black;
    font-size:30px;
}

figure h3 h4.left{
    position: absolute;
    bottom:20px;
    left:16px;
    color:black;
    font-size:15px;
}

.contact-me{
    display:flex;
}

#contact-me{
    flex:0 0 25%;
    margin:20px;
    border-right:5px solid red;
    padding:20px;
    font-size:50px;    
}

section nav ul{
    list-style-type:none;
}

section nav ul li{
    display:inline-block;
    margin:50px;
}


/* $desktop: 1200px
$laptop:1024px;
$tablet:768px;
$phone:480px; */

/* @media screen and (min-width:1200px) {
    .wrap {
        width: 33%;
    }
}

@media screen and (min-width:480px) {
    .wrap {
        width: 50%;
    }
} */
