root {
    --light-orange:#f2dcc7;
    --light-blue:#c7f2eb;
}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:'Trebuchet MS';
}

body{
    background-color: var(--light-orange);
}

.header{
    padding:20px;
    background-color:var(--light-blue);
    color:black
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li{
    display:inline-block;
    margin-left:25px;
}

/* Surf Report Image Position in related to the header's position*/
.topcontainer{
    position:relative;
}

/* Surf Report Header Position*/
.bottom-right {
    position:absolute;
    bottom: 10px;
    right:16px;
    color: white;
    font-size:30px;
}

.subheader h2{
    margin:20px;
    border-right:5px;
    border-right-color:blue;
    padding:20px;
    font-size:50px;
    
}

/* Contact Me - listing */ 
.subheader nav ul li {
    display:inline-block;
    margin-left:25px;
}

/* About Me, Work, Contact Me */
#subtitle {
    display:flex;
    justify-content:flex-start;
}

/* 4 other images position in related to the header's position */
.container{
    position:relative;
}

/* 4 other image headers position */
.bottom-left{
    position:absolute;
    bottom:50px;
    left:16px;
    color:white;
    font-size:30px;
}

/* 4 other images position */
.wrap img{
    display: flex;

    width:100%;
}

#paragraph {
    margin:20px;
}

@media screen and (max-width: 992px) {
    .wrap {
        width: 50%;
    }
}
