/* root {
    --light-orange:#f2dcc7;
    --light-blue:#c7f2eb;
} */

/* box-sizing: border-box; width/height = border + height + width/height of content */
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height:100px;
    padding:20px;
    background-color: #ed9261;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color:white;
    font-weight:400px;
}

header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    color:white;
    font-weight:400px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display:inline-block;
    margin-left:25px;
}

.road-to-success{
    position:relative;
}

.porfolio{
    position:absolute;
    border:5px solid green;
    left:16px;
    top:10px;
    
}

.road-to-success-heading{
    position:absolute;
    bottom: 10px;
    right:16px;
    color: white;
    font-size:30px;
}

.subheader h2{
    margin:20px;
    border-right:5px solid blue;
    padding:20px;
    font-size:50px;
    flex: 0 0 25%;
}

#subtitle {
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    /* gap:10px; */
}


.container{
    position:relative;
}


.bottom-left{
    position:absolute;
    bottom:50px;
    left:16px;
    color:white;
    font-size:30px;
}

.left{
    position: absolute;
    bottom:20px;
    left:16px;
    color:white;
    font-size:15px;
}

/* .wrap {
    display: flex; 
    flex-wrap: wrap; 
    justify-content:space-between; 
    width:100%; 
    margin:10px; 
} */

#paragraph {
    margin:20px;
}

.wrap img{
    /* width:100%; */
    display:flex;
    flex-wrap:wrap;
    align-items:flex-end;
}

.subheader nav ul {
    list-style-type:none;
}

.subheader nav ul li {
    display:inline-block;
    margin:50px;
}

/* $desktop: 1200px
$laptop:1024px;
$tablet:768px;
$phone:480px; */

@media screen and (min-width:1200px) {
    .wrap {
        width: 33%;
    }
}

@media screen and (min-width:480px) {
    .wrap {
        width: 50%;
    }
}
